:root {
  --ifm-color-primary: #00b48c;
  --ifm-color-primary-dark: #00a27e;
  --ifm-color-primary-darker: #009977;
  --ifm-color-primary-darkest: #007e62;
  --ifm-color-primary-light: #00c69a;
  --ifm-color-primary-lighter: #00cfa1;
  --ifm-color-primary-lightest: #00eabc;
  --ifm-code-font-size: 95%;
}

[data-theme='dark'] {
  --ifm-color-primary: #00d4a4;
  --ifm-color-primary-dark: #00bf94;
  --ifm-color-primary-darker: #00b48c;
  --ifm-color-primary-darkest: #009473;
  --ifm-color-primary-light: #00e9b4;
  --ifm-color-primary-lighter: #00f4bc;
  --ifm-color-primary-lightest: #1affd2;
}
